.GameDetailbox{
    width: 500px;
    height: fit-content;
    background: linear-gradient(to bottom, #121424, #23203f, #091329);
    margin-left: 50px;
    display: inline-block;
    border-radius: 20px;
    text-align:center;
    color: rgb(161, 174, 185);
    border: 4px solid rgb(17, 59, 94);
    }
    .horizontal-line {
        border-bottom: 10px solid rgb(185, 168, 168);
      }
      