
.formbox{
background-color:rgb(38, 43, 58);
padding-top: 15px;
padding-left: 15px;
margin: 10px;
border: 2px rgb(58, 54, 54);
border-radius: 30px;
height: 1100px;
width: 1100px;
}

.form-group{
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 100px;
    padding-bottom: 20px;
    margin-top: 20px;
    color: rgb(38, 43, 58);
    }

input {
    padding: 5px;
    width: 70%;
    border-radius: 10px;
    color: black;
    }

select{
    padding: 6px;
    width:150px; 
    border-radius: 10px;
    }
.left-align {
    text-align: left;
    }
.right-align{
    float: right;
    }
label{
    display: block;
    color: white;
   }
#specific-label {
   display: inline-block;
   width: 80%;
   margin-right: 5px;
   text-align: right;
   line-height: 1.5em; /* adjust as per the height of the checkbox */
}      
.sub{
    padding-right: 1000 px;
}
.textbox{
    color: aliceblue;
    background-color: rgb(12, 61, 61);
    border-radius: 20px;
    margin-top: 20px;
    width: 300px;
    height: 200px;
    border: 1px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
  }
input[type="file"] {
    margin-top: 20px;
  }
  button[type="submit"] {
    margin-top: 30px;
    margin-left: 900px;
  }
  input[type="checkbox"] {
    float: right;
    width: 10%;
    vertical-align: top;
 }
 input[type="radio"] {
    float: right;
    width: 10%;
    vertical-align: top;
 }
 input[type="button"] {
    float: right;
    width: 10%;
    vertical-align: top;
 }
.drpdwn{
    padding: 7px;
}